:root{
    ---negro:#000;
    ---letra-blanco:#fff;
    ---letra-rojo: #e10c00;
    ---gris:rgba(250,250,250,0.3);
    
    
}

body{
    margin: 0;
    background-image: url(../images/Productos/ProductosBackground.png);
    background-size: 400px;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border-right: 2px solid;
}


/*NAV*/
header {
    top: 0px;
}

.nav .li {
    padding-top: 0px !important;
}

#home {
    margin-top: 10px !important;
}
/*NAV*/

.ctn{
    height: 580px;
    margin-top: 100px;
    margin-left: 10rem;
}

section{
    height: 200;
}

.ctnPlan{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 30rem;
    width: 17.8rem;
    color: black;
    border-radius: 20px;
    font-family: 'ERASBD';
    align-items: center;
    text-align: center;
    float: left;
    margin-left: 30px;
    transition: transform 1s;
}

.ctnPlan:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

.box h4{
    margin: 20px 0 0 0;
    color: red;
    
}

.box h1{
    margin: 0;
    font-size: 2.1rem;
}

.box span {
    font-family: 'GOTHICB';
}

.box .img{
    margin-top: 30px;
}

.box .img img{
    height: 7rem;
}

.box p{
    font-family: 'GOTHICB';
}

.box .info-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 30px;
}

.info-btn {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    transition: all .3s;
}

.info-btn:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(5px); }
  100% { transform: translateY(0); }
}

section {
    margin-left: 200px;
    height: 800px;
}

.ctn-educativo {
    margin-top: 40px;
}

/*--------CTN SECUNDARY--------*/

.info {
    display: flex;
    width: 100%;
    height: 500px;
}

.info-empresas {
    background-color: white;
    width: 90%;
    height: 400px;
    margin-top: 6rem;
    margin-left: 60px;
    border-radius: 25px;
    opacity: 100%;
}

.box-info {
    width: 250px;
    border-radius: 25px 0 0 0;
    height: 370px;
    text-align: center;
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 25px;
}

.caracteristicas {
    height: 21rem;
    width: 47rem;
    padding: 2.3rem 3rem 2rem 3rem;
    margin: 0;
    display: inline-block;
    overflow: hidden;

}

.caracteristica {
    background-color: #4CAF50;
    height: 20px;
    width: 20px;
}

.box-info h4{
    margin: 20px 0 0 0;
    color: red;
}

.info-empresas h1{
    margin: 0;
    font-size: 2.2rem;
    font-family: ERASBD;
}

.box-info span {
    font-family: 'GOTHICB';
}

.box-info .img{
    margin-top: 30px;
    display: flex;
    flex: 1;
    padding: 5px;
    width: 100%;
    border: 5px solid rgb(85, 85, 85);

}

.box-info .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(100%) saturate(120%) contrast(123%);
}

.c-info {
    height: 300px;
    margin-top: 10px;
    font-family: 'GOTHICB';
}

.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 15%;
    margin-top: -3rem;
    height: 40rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}

.back{
    width: 200px;
    height: 50px;
    font-family: ERASBD;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    border-color: white;
    outline: none;
    cursor: pointer;
}


.back:hover{
    animation-name: desplazamiento;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}

.ctn-tit{
    box-sizing: content-box;
}
.ctn-tit p{
    font-size: 1rem;
    box-sizing: border-box;
    overflow: auto;
    font-family: GOTHICB;
}